body{
    padding: 0;
    margin: 0;
}

.onopen{
    display:  none;
    position: absolute;
    top: 10%;
    left: 35%;
}

.open:hover .onopen{
    display: block;
}

.hover{
    display: block;
    /*color: red;
    background: red;*/
}